$theme-colors: (
  "primary":    #2b4689,
  "secondary":  #0511F2,
  "success":    #05C7F2,
  "info":       #F2921D,
  "warning":    #0D0D0D,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #343a40,
  "verdehdi":   #088364
);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Poppins', sans-serif;
}

.text-white{
  color:white;
  font-family: 'Poppins', sans-serif;
}
